@mixin HeaderStyle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: rem-calc(60);
    background: $metal;
    color: $white;
    @include md {
        height: rem-calc(80);
    }
    @include lg {
        top: 0;
        bottom: 0;
        right: unset;
        height: unset;
        width: rem-calc(150);
    }
    @include xlg {
        width: rem-calc(200);
    }
}

.header {
    @include HeaderStyle();
}
