@function rem-calc($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

// =========================================================
// COLORS
// =========================================================

$metal: #292f36;
$white: white;
$cream: #f7fff7;
$purple: #845ec2;
$gray: #d9e8ee;
$green-blue: #34839c;

// =========================================================
// BREAKPOINT
// =========================================================

$small-size: 576px;
$medium-size: 768px;
$large-size: 1024px;
$xlarge-size: 1200px;

// Small devices
@mixin sm-only {
    @media (max-width: #{$small-size}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$medium-size}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$large-size}) {
        @content;
    }
}

// Large devices
@mixin xlg {
    @media (min-width: #{$xlarge-size}) {
        @content;
    }
}

// Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+"px") {
        @content;
    }
}

// =========================================================
// FONTFACE
// =========================================================

$main-font-face: "Roboto";
$global-letter-spacing: 0.3px;
@font-face {
    src: url("../assets/fonts/RobotoSlab-VariableFont_wght.woff2") format("woff2");
    font-family: "Roboto";
}
