body {
    height: 100%;
    background-color: $cream;
    // font-family: $body-font-family;
    // font-weight: normal;
    // margin: 0;
    // font-size: $medium-font;
}

.App {
    margin-left: 200px;
    padding: 0 rem-calc(30);
}
